<table class="data-table">
    {% for key, value in object.items() %}
    <tr>
        <th width="200">{{ key | title }}</th>
        <td{% if value | is_dict %} class="blank"{% endif %}>
            {% if value | is_dict %}
                {% with object=value %}
                    {% include "dictTable.html" %}
                {% endwith %}
            {% else %}{% if value | is_list %}
                <ol>
                {% for item in value %}
                    <li>{{ item }}</li>
                {% endfor %}
                </ol>
            {% else %}
                {{ value }}
            {% endif %}{% endif %}
        </td>
    </tr>
    {% endfor %}
</table>